.menuContainer {
  display: flex;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
}

.menuContainer a {
  margin: 1rem;
  padding: 1.5rem;
  flex-basis: 45%;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
  border-radius: 10px;
}

.menuContainer a:hover {
  border: 1px solid #20fb01;
}

.menuContainer a h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  display: block;
}

.menuContainer a p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  display: block;
}

@media (max-width: 700px) {
  .menuContainer a {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .menuContainer a h3 {
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;
  }
}
