section.fotoSection{
    text-align: center;
}

.fotoSection h1 {
    margin: 0;
    line-height: 1.15;
    font-size: 3.5rem;
    text-align: center;
    display: block;
    font-weight: bold;
    letter-spacing: -0.02em;
}

.fotoSection p{
    text-align: center;
    line-height: 1.5;
    font-size: 1.3rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.foto img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 2rem 0;
}

@media (max-width: 700px){
    .fotoSection h1 {
        line-height: 1;
        font-size: 2rem;
    }

    .foto img{
        width: 120px;
        height: 120px;
        margin-bottom: 2rem;
    }
}
